@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kristi&family=Lexend:wght@100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');


.geddy-page-div {
background-image: url("https://static.vecteezy.com/system/resources/previews/028/237/972/original/brown-and-gold-damask-seamless-vintage-pattern-elegant-design-in-royal-baroque-style-background-texture-floral-and-swirl-element-brown-colors-ideal-for-textile-print-and-wallpapers-vector.jpg");
background-size: 25%;
}

.geddy-body {
width: 85vw;
height: 100%;
border: solid 2px #8a5c24;
margin: 0 auto;
margin-top: 1%;
background-color: black;
margin-bottom: 1rem;
padding-top: 2%;
border-radius: 5px;
margin-bottom: 2rem;
}

@media only screen and (max-width : 460px)  {
    .geddy-page-div {
        background-size: 55%;
        background-image: url("https://static.vecteezy.com/system/resources/previews/028/237/972/original/brown-and-gold-damask-seamless-vintage-pattern-elegant-design-in-royal-baroque-style-background-texture-floral-and-swirl-element-brown-colors-ideal-for-textile-print-and-wallpapers-vector.jpg");
    }
    nav {
        padding-bottom: 1rem;
    }
    .geddy-body {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  };